/* =========== 基础 =========== */
.content {
	color: $Q-text-color;
	font: normal 14px/1.8 Arial,"Microsoft YaHei","WenQuanYi Micro Hei",Verdana,Tahoma,sans-serif;
	background-color: $Q-cont-bg;
}

/* --- 基础颜色 --- */
.jiangqie-color1 {
	color: #808080;
}
.jiangqie-color2 {
	color: #007AFF;
}
.jiangqie-color3 {
	color: #71BD54;
}
.jiangqie-color4 {
	color: #FF6146;
}

/* --- 基础按钮颜色 --- */
.jiangqie-btn-color1 {
	background-color: #808080!important;
	border-color: #808080!important;
}
.jiangqie-btn-color2 {
	background-color: #71BD54!important;
	border-color: #71BD54!important;
}
.jiangqie-btn-color3 {
	background-color: #FFFFFF!important;
	border-color: #FFFFFF!important;
	color: #999999!important;
}
.jiangqie-btn-color4 {
	color: #555555!important;
	background-color: #FFFFFF!important;
	border-color: #DDDDDD!important;
}
.jiangqie-btn-color5 {
	background-color: #000!important;
	border-color: #000!important;
	color: #FFFFFF!important;
}
.jiangqie-btn-color6 {
	background-color: #DDDDDD!important;
	border-color: #DDDDDD!important;
	color: #FFFFFF!important;
}

/* =========== 通用 =========== */

/* --- 基础块 --- */
.jiangqie-base-block {
	padding: 30rpx;
	border-top: 24rpx solid #F5F5F5;
}
.jiangqie-base-place, .jiangqie-base-data {
	height: 50rpx;
	line-height: 50rpx;
	color: #0C65C9;
	font-size: $Q-medium-size;
}
.jiangqie-base-data {
	color: #444444;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	justify-content: space-between;
    -ms-flex-align: center;
	align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
}
.jiangqie-base-data view text{
	margin-right: 20rpx;
}
.jiangqie-base-data view.jiangqie-base-opt {
	font-size: 24rpx;
}

/* --- 基础按钮 --- */
.jiangqie-button {
	font-size: 24rpx;
	font-weight: 300;
	color: #FFFFFF;
	text-align: center;
	border-radius: 8rpx;
	background: #FF6146;
	border: 1.5rpx solid #FF6146;
	word-break: keep-all;
}
button::after {
	border: none;
}

/* --- 轮播 --- */
swiper {
	width: 100%;
}
swiper image {
	width: 100%;
    transition: all 0.1s linear;
}

/* --- 自定义图标 --- */
.jiangqie-icon-block {
	padding: 30rpx 0 10rpx;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	flex-wrap: wrap;
    -ms-flex-align: center;
	align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
}
.jiangqie-custom-icon {
	width: 20%;
	text-align: center;
	padding-bottom: 10rpx;
}

.jiangqie-custom-icon image {
	height: 90rpx;
	width: 90rpx;
}

.jiangqie-custom-icon text {
	display: block;
	line-height: 1.2rem;
	font-size: $Q-sub-info-size;
}

/* --- 基础列表 --- */
swiper .wx-swiper-dot, uni-swiper .uni-swiper-dot {
	height: 4px;
	width: 4px;
	border-radius: 4px;
}

swiper .wx-swiper-dot.wx-swiper-dot-active, uni-swiper .uni-swiper-dot-active {
    width: 12px;
	border-radius: 4px;
}
